body {
    background-color: rgb(3, 7, 8);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {
    sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
    
}


.text-color{
    color: #fffbf7;
}